<div class="view">
    <div class="map" *ngIf="runService.getRun().state == 'exploration' && !runService.getRun().showBossfightLocation">
        <div class="locations-row">
            <div class="location-preview" *ngFor="let location of runService.getRun().stage.currentLocations">
                <app-location-preview [location]="location"></app-location-preview>
            </div>
        </div>
    </div>
    <div class="map" *ngIf="runService.getRun().state == 'exploration' && runService.getRun().showBossfightLocation">
        <div style="display: flex !important; height: 100% !important; justify-content: space-evenly !important;">
            <app-location-preview [locationData]="runService.getRun().stage.bossLocation"></app-location-preview>
        </div>
    </div>
    <div class="location" *ngIf="runService.getRun().state == 'location'">
        <app-location [locationData]="runService.getRun().currentLocation" [selectedItem]="selectedItem"
            (interactSignal)="interact($event)" (backSignal)="returnToMap($event)" (talkSignal)="talkToActor($event)" (fightSignal)="engageFightWith($event)"
            (restSignal)="rest()" (reviveSignal)="reviveFromActor()"></app-location>
    </div>
    <div class="fight" *ngIf="runService.getRun().state == 'fight'">
        <app-fight [fightData]="runService.getRun().currentFight" [partyData]="runService.getAliveParty()"
            (useSkillSignal)="useSkillOn($event)" (fleeSignal)="flee()"></app-fight>
    </div>
</div>