.space {
    height: 80%;
    transition: transform .2s;
}

.space:hover {
    transform: scale(1.03);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.view {
    width: 100%;
    height: 100%;
    font-family: "Enchanted-Land", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.locations-row {
    display: flex !important;
    height: 100% !important;
    justify-content: space-evenly !important;
    align-items: center;
}

.location-preview {
    width: 30rem;
    height: 25rem;
}

.location {
    position: relative;
    top: 8%;
}

.fight {
    height: 100%;
}

.map {
    height: 100%;
}

.shop {
    width: 500px;
    height: 100%;
    background-color: black;
    position: relative;
    top: -500px;
    transition: width 2s, height 4s;
}