.space {
    height: 100%;
}

.space:hover {
    transform: scale(1.03);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.view {
    width: 100%;
    height: 100%;
    font-family: "Enchanted-Land", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.locations-row {
    display: flex !important;
    height: 100% !important;
    justify-content: space-around !important;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.location-preview {
    width: 30rem;
    height: 20rem;
}

.location {
    position: relative;
    top: 8%;
}

.fight {
    height: 100%;
}

.map {
    height: 100%;
}