<div class="view">
    <div class="map" *ngIf="run.state == 'exploration' && !run.showBossfightLocation && ready">
        <div class="locations-row">
            <div class="location-preview" *ngFor="let location of run.stage.currentLocations">
                <app-location-preview [location]="location" (exploreSignal)="moveTo(location)"></app-location-preview>
            </div>
        </div>
    </div>
    <div class="map" *ngIf="run.state == 'exploration' && run.showBossfightLocation && ready">
        <div style="display: flex !important; height: 100% !important; justify-content: space-evenly !important;">
            <app-location-preview [locationData]="run.stage.bossLocation"
                (exploreSignal)="moveTo(run.stage.bossLocation)"></app-location-preview>
        </div>
    </div>
    <div class="location" *ngIf="run.state == 'location'">
        <app-location [locationData]="run.currentLocation" [selectedItem]="selectedItem"
            (interactSignal)="interact($event)" (backSignal)="returnToMap($event)" (talkSignal)="talkToActor($event)"
            (openShopSignal)="toggleShop($event)" (fightSignal)="engageFightWith($event)"
            (restSignal)="rest()"></app-location>
    </div>
    <div class="fight" *ngIf="run.state == 'fight'">
        <app-fight [fightSpeed]="fightSpeed" [fightData]="run.currentFight" [partyData]="run.party"
            (attackSignal)="attack($event)" (useSkillSignal)="useSkillOn($event)" (fleeSignal)="flee()"></app-fight>
    </div>
    <div class="intro" *ngIf="run.state == 'intro'">
        <!--<video controls loop>
            <source src="../assets/animation.mp4" type="video/mp4">
        </video>-->
    </div>
    <!-- shop -->
    <div [@inOutAnimationShop] *ngIf="shopOpened" class="shop pixelated-border"
        style="overflow-y: auto; overflow-x: hidden;">
        <div class="close-shop-button pixelated-border" (click)="toggleShop()">CLOSE</div>
        <app-items-table [dataSource]="shopDataSource" [compact]="false" (clickEvent)="buy($event)">
        </app-items-table>
    </div>
</div>