<div class="view">
    <div class="map" *ngIf="runService.getRun().state == 'exploration' || isAnimatingEntry">
        <div class="locations-row">
            <div class="location-preview"
                 *ngFor="let location of runService.getRun().stage.currentLocations"
                 [class.loc-entering]="isAnimatingEntry && selectedLocationId === location.id"
                 [class.loc-dimming]="isAnimatingEntry && selectedLocationId !== location.id">
                <app-location-preview [location]="location" (exploreClick)="onExplore($event)"></app-location-preview>
            </div>
        </div>
    </div>
    <div class="location" *ngIf="runService.getRun().state == 'location'">
        <app-location [locationData]="runService.getRun().currentLocation" [selectedItem]="selectedItem"
            (interactSignal)="interact($event)" (backSignal)="returnToMap($event)" (talkSignal)="talkToActor($event)" (fightSignal)="engageFightWith($event)"
            (restSignal)="rest()" (reviveSignal)="reviveFromActor()"></app-location>
    </div>
    <div class="fight" *ngIf="runService.getRun().state == 'fight'">
        <app-fight [fightData]="runService.getRun().currentFight" [partyData]="runService.getAliveParty()" [locationName]="runService.getRun().currentLocation.name"
            (useSkillSignal)="useSkillOn($event)" (fleeSignal)="flee()"></app-fight>
    </div>
</div>