.space {
    height: 80%;
    transition: transform .2s;
}

.space:hover {
    transform: scale(1.03);
}

.enemy {
    height: 100%;
    display: inline-block;
}

.image-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}