<div #menuTrigger [matMenuTriggerFor]="menu" style="display: none;"></div>

<mat-card [@reloadLocations] [ngStyle]="{ 'background-image': 'url(' + locationData.backgroundPath + ')' }"
    style="background-position: center;" class="mat-elevation-z1 space pixelated-border"
    ngTilt [disableAxis]="'y'" [maxTilt]="8" [glare]="true" [maxGlare]="0.1" [scale]="1.1" [speed]="300">
    <div class="header" ngTiltParallax [distance]="1" style="text-shadow: 2px 2px 2px #000000; padding-top: 20px; text-align: center;">{{locationData.name}}</div>
</mat-card>

<mat-menu #menu="matMenu" class="location-menu pixelated-border">
    <button mat-menu-item (click)="explore()">Explore</button>
</mat-menu>