<div class="spacing container">
    <!--<div class="pixelated-border screen typewriter" spellcheck="false">{{currentText}}</div>-->
    <!--<span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000">
        {{ stringInterpolation }}
    </span>-->

    <ngx-typed-js [strings]="currentText" (preStringTyped)="cleanBuffer()" (completed)="enableViewport(); complete = true;" [shuffle]="false" [fadeOut]="true" [backDelay]="2000 / textSpeed" [fadeOutDelay]="600 / textSpeed" [startDelay]="1000 / textSpeed" [typeSpeed]="40 / textSpeed">
        <span class="typing typewriter"></span>
    </ngx-typed-js>
</div>
