.spacing {
    width: 600px;
    height: 150px;
    font-family: "Enchanted-Land", Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 20px;
    letter-spacing: 2.4px !important;
 }

/*textarea {
    resize: none;
    overflow: hidden;
    width: 540px;
    height: 200px;
    position: absolute;
    outline: none;
    top: 89.2%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 50px;
    padding-left: 5%;
    padding-right: 5%;
    caret-color: transparent;
}*/

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    //border-right: .15em solid orange; /* The typwriter cursor */
    //white-space: nowrap; /* Keeps the content on a single line */
    //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    color: white;
    font-size: 50px;
    //animation:
    //  blink-caret 1s step-end infinite;
  }
  
  /* The typewriter cursor effect */
  // TODO use this during damage
  /*@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }*/