.viewport {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  background-position-y: center;
  background-size: contain;
}

.info-box {
  position: relative;
  top: 2%;
  display: block;
  width: 40%;
  height: 10px;
}

.action-bar {
  position: relative;
  top: 80%;
  display: block;
  width: 40%;
  height: 10px;
}

.text-area {
  position: relative;
  top: 65%;
  display: block;
  height: 10px;
}

.app-scene {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}

.item-use-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.follow-cursor-img {
  z-index: 9999;
  position: absolute;
  transition: transform 0.1s linear;
}

.disabled {
  pointer-events: none;
}