.viewport {
  width: 600px;
  height: 900px;
  padding: 15px;
  position: relative;
  display: block;
  border: 3px solid black;
  background-color: black;
}

.item-use-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.follow-cursor-img {
  z-index: 9999;
  position: absolute;
  transition: transform 0.1s linear;
}

.disabled {
  pointer-events: none;
}