.action-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-image: url(/assets/images/0_0.png);
    top: 2px;
}

.dont-disable {
    pointer-events: auto !important;
}

.party-members {
    display: flex;
}

.party-member {
    height: 95px;
    width: 95px;
    background-size: contain;
    background-position: 25% 75%;
    margin-left: 0.5rem;
}

.inventory-button {
    height: 95px;
    width: 95px;
    background: var(--color-primary);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
}

.inventory-button:last-of-type {
    margin-left: auto;
}

.refresh-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    transform: scale(0.6);
    cursor: pointer;
}

.space {
    transition: transform .2s;
    cursor: pointer;
}

.space:hover {
    transform: scale(1.15);
    filter: none;
    -webkit-filter: none;
}

.inventory {
    width: 15%;
    height: 70%;
    left: 82%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;
    
}

.actor-menu {
    width: 15%;
    height: 70%;
    left: 4%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;
    
}

.hp-bar {
    position: relative;
    top: 75px;
}

.equip-slot {
    background-color: black;
    margin: 4px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.disabled {
    pointer-events: none;
    filter: grayscale(1);
}