<div class="centered pixelated-border" style="height: 80%; width: 80%; background-color: chocolate;">
    <div style="margin: 0.5rem;">
        <h1>DragonMountain Editor</h1>
        <h2>
            Run's name: FILE NAME
        </h2>
        <mat-tab-group class="pixelated-border">
            <mat-tab label="items">

            </mat-tab>
            <mat-tab label="skills">

            </mat-tab>
            <mat-tab label="classes">

            </mat-tab>
            <mat-tab label="enemies">

            </mat-tab>
            <mat-tab label="npcs">

            </mat-tab>
            <mat-tab label="locations">

            </mat-tab>
            <mat-tab label="stages">

            </mat-tab>
        </mat-tab-group>
    </div>
</div>