.container-space {
    height: 80%;
}
.space {
    height: 80%;
    transition: transform .2s;
}

.space:hover {
    transform: scale(1.02);
    filter: none;
    -webkit-filter: none;  
}

.actor {
    height: 100%;
    display: inline-block;
}

.back-button {
    margin-top: 0;
    height: 30px;
    text-align: center;
}