<div class="space">
    <div class="actorsSpace" *ngIf="locationData" style="height: 100%;">
        <div class="actor" *ngFor="let actor of locationData.actors" [style]="'width: ' + getActorWidth() + '%;'">
            <mat-card class="mat-elevation-z1 space" [matMenuTriggerFor]="menu">
                <h6 class="header">{{actor.name}}</h6>
                <!-- <img src="{{character.thumbnailPath}}"> -->
                <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
                    <div class="location" *ngFor="let action of actor.actions">
                        <button mat-menu-item (click)="action.fire()">{{action.name}}</button>
                    </div>
                </mat-menu>
            </mat-card>
        </div>
    </div>
    <mat-card class="mat-elevation-z1 back-button" (click)="goBackToScene()">
            Back to Stage
    </mat-card>
</div>