.spacing {
    width: 540px;  
    height: 35px;
    font-family: "Enchanted-Land", Arial, Helvetica, sans-serif !important;;
    font-size: 50px;
    position: absolute;
    top: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 6%;
}