<div [@inOutAnimation] *ngIf="inventoryOpened" class="inventory pixelated-border"
    style="position: fixed;overflow-y: auto; overflow-x: hidden; display: flex; justify-content: center;">
    <div style="padding: 15px;">
        <div
            style="position: -webkit-sticky; position: sticky; top: 0;height:40px; font-size:40px; color: white; background-color: #000; z-index: 8;">
            {{run.inventory.money}} $</div>
        <div *ngFor="let item of run.inventory.items">
            <div class="space" style="color: white;" (click)="selectItem(item)" ngTilt [disableAxis]="'x'" [maxTilt]="1"
                [glare]="true" [maxGlare]="0.1" [scale]="1.02" [speed]="300">
                <div ngTiltParallax [distance]="10" style="height: 100px; width: 100px; background-size: contain;"
                    class="inventory-item" [ngStyle]="{ 'background-image': 'url(' + item.thumbnailPath + ')' }">
                </div>
                <div ngTiltParallax [distance]="10">
                    {{ item.name }}
                </div>
                <div ngTiltParallax [distance]="10">
                    {{ item.moneyValue }}
                </div>
                <div *ngIf="isEquip(item)" ngTiltParallax [distance]="10">
                    atk: {{ getItemAsEquip(item).attack }}
                </div>
                <div *ngIf="isEquip(item)" ngTiltParallax [distance]="10">
                    atk: {{ getItemAsEquip(item).defense }}
                </div>
                <div *ngIf="isEquip(item)" ngTiltParallax [distance]="10">
                    buf: {{ getItemAsEquip(item).buffs? 'X' : 'V' }}
                </div>

            </div>
        </div>
    </div>
</div>
<div [@inOutAnimation] *ngIf="actorMenuOpened" class="actor-menu pixelated-border"
    style="position: fixed;overflow-y: auto; overflow-x: hidden; display: flex; justify-content: center; text-align-last: justify;">
    <div style="padding: 15px;">
        <div
            style="position: -webkit-sticky; position: sticky; top: 0;height:40px; font-size:40px; color: white; background-color: #000; z-index: 8;">
            {{displayedActorMenu.name}}</div>
        <img style="width: 200px; height: 200px;" src="{{displayedActorMenu.imagePath}}">
        <!--<app-data-bar class="hp-bar"
            [currentValue]="getDisplayedActorMenuHealth()" [maxValue]="displayedActorMenu.stats.constitution" [barType]="1">
        </app-data-bar>-->
        <div *ngFor="let stat of getStatsToDisplay(displayedActorMenu.stats)">
            <div style="color: white; font-size:30px;">
                {{stat.name}}: {{stat.value}} <a *ngIf="run.experience >= 1" (click)="boostStat(displayedActorMenu, stat.name)">+</a>
            </div>
        </div>
    </div>
</div>
<div class="action-bar pixelated-border" style="background-color: black;">
    <div *ngIf="run.party && run.party.length > 0" class="party-members" style="width: 100%; padding: 0px;">
        <div *ngFor="let actor of run.party; let i = index">
            <div *ngIf="actor" class="party-member space" (click)="toggleActorInfo(actor)"
                [ngStyle]="{ 'background-image': 'url(' + actor.imagePath + ')' }">
                <app-data-bar [minimized]="true" class="hp-bar" [ngStyle]="{ 'left': (-55 + (1 * i)) + 'px' }"
                    [currentValue]="actor.stats.healthPoints" [maxValue]="actor.stats.constitution" [barType]="1">
                </app-data-bar>
            </div>
        </div>
    </div>
    <button [disabled]="!isMoveToBossfightEnabled()" class="inventory-button space" (click)="moveToBossfightLocation()">
        <img style="width: 80px; padding: 5px" src="assets/images/boss-room-icon.png" />
    </button>
    <button [disabled]="!isExploreEnabled()" class="inventory-button space" (click)="refreshLocations()">
        <img style="width: 80px; padding: 5px" src="assets/images/treasure-map.png" />
    </button>
    <button class="inventory-button space" [disabled]="inventoryDisabled" (click)="toggleInventory()">
        <img style="width: 80px; padding: 5px" src="assets/images/bag-icon.png" />
    </button>
</div>