<div class="action-bar pixelated-border" style="background-color: black;">
    <div *ngIf="run.party && run.party.length > 0" class="party-members" style="width: 100%; padding: 15px;">
        <div *ngFor="let actor of run.party; let i = index">
            <div *ngIf="actor" class="party-member space"
                [ngStyle]="{ 'background-image': 'url(' + actor.imagePath + ')' }">
            </div>
        </div>
    </div>
    <div [@inOutAnimation] *ngIf="inventoryOpened" class="inventory pixelated-border" style="overflow-y: auto; overflow-x: hidden;">
        <div style="padding: 15px;">
            <div *ngFor="let item of run.items">
                <div class="space" style="color: white;" (click)="selectItem(item)">
                    <div style="height: 100px; width: 100px; background-size: contain;" class="inventory-item"
                        [ngStyle]="{ 'background-image': 'url(' + item.thumbnailPath + ')' }">
                    </div>
                    <div>
                        {{ item.name }}
                    </div>
                    <div>
                        {{ item.moneyValue }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="inventory-button space" style="padding: 15px;" [disabled]="inventoryDisabled"
        (click)="toggleInventory()">
        <img src="assets/images/bag-icon.png" />
    </button>
</div>