.space {
    height: 80%;
    transition: transform .2s;
}

.space:hover {
    transform: scale(1.03);
}

.enemy {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.image-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hp-bar {
    position: relative;
    top: 75px;
}

.disabled {
    pointer-events: none;
    filter: grayscale(1);
}

.damaged {
    animation: blinking 0.1s infinite;
}

@keyframes blinking{
    0%		{ opacity: 0; }
    50%		{ opacity: 1; }
}