<div>
    <div *ngIf="fightData" style="height: 100%;">
        <div style="display: flex !important; height: 100% !important; justify-content: space-evenly !important;" class="enemies-row">
            <div class="enemy" *ngFor="let actor of fightData; let i = index" style="width: 33%"> 
                <!-- fightData.length - 3 because 3 is max umber of enemies-->
                <mat-card class="mat-elevation-z1 image-bg pixelated-border"  (click)="setSelectedEnemyIndex(i)"
                    ngTilt [disableAxis]="'y'" [maxTilt]="8" [glare]="true" [maxGlare]="0.1" [scale]="1.1" [speed]="300">
                    <div ngTiltParallax [distance]="20" style="padding-top: 20px; text-align: center;">{{actor.name}}</div>
                    <img style="width: 150%; margin-left: -35px;" ngTiltParallax [distance]="20" [src]="actor.imagePath" />
                    <app-data-bar ngTiltParallax [distance]="20" [currentValue]="fightManager.getEnemy(i).stats.healthPoints" [maxValue]="actor.stats.constitution" [barType]="1">
                    </app-data-bar>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div #menuTrigger [matMenuTriggerFor]="menu" style="display: none;"></div>
<mat-menu #menu="matMenu" class="location-menu pixelated-border">
    <div *ngIf="selectedEnemyIndex != undefined">
        <button mat-menu-item (click)="attack(selectedEnemyIndex!)">attack</button>
        <button mat-menu-item [matMenuTriggerFor]="skills" [matMenuTriggerData]="getCurrentPlayerSkills()">skills</button>
        <!-- items -->
    </div>
</mat-menu>
<mat-menu #skills="matMenu" class="location-menu pixelated-border">
    <ng-template matMenuContent let-skills="skills">
        <button *ngFor="let skill of skills" mat-menu-item (click)="useSkillOn(skill, selectedEnemyIndex!)">{{skill.name}}</button>
    </ng-template>
</mat-menu>