<div *ngIf="!gameOver()" class="pixelated-border spacing">
        <label>level {{runService.getRun().level}}</label>
        <label style="font-size: 35px;">{{ runService.getRun().currentLocation ? runService.getRun().currentLocation.name : runService.getRun().stage.name}}</label>
        <label>EXP: {{runService.getRun().experience}}</label>
</div>
<div class="pixelated-border spacing" *ngIf="gameOver()">
        <label class="blink_me" style="font-size: 60px; color: red;">GAME OVER!</label>
</div>