.ui-layer {
    width: 100%;
    height: 100vh;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width : 600px) {
    .ui-layer {
        padding: 14% 0 0 0 !important;
    }
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    width: 90%;
}

@media (max-width : 600px) {
    .overlay {
        margin-top: -12% !important;
        font-size: 16px !important;
    }
}

.settings-icon {
    width: 40px;
}

@media (max-width : 600px) {
    .settings-icon {
        width: 25px;
    }
}

.version {
    padding-top: 0.8rem;
}

.inventory {
    width: 15%;
    height: 70%;
    left: 82%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;
}

@media (max-width : 1000px) {
    .inventory {
        height: 60% !important;
        width: 40% !important;
        top: 18% !important;
        z-index: 998;
        left: 55% !important;
    }
}

.actor-menu {
    width: 15%;
    height: 70%;
    left: 4%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;

}

@media (max-width : 1000px) {
    .actor-menu {
        height: 60% !important;
        width: 40% !important;
        top: 18% !important;
        z-index: 998;
        right: 55% !important;
    }
}

@media (max-width : 600px) {
    .actor-menu-content {
        transform: scale(0.8);
    }
}

.equip-slot {
    background-color: black;
    margin: 4px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.shop {
    z-index: 100;
    width: 30%;
    height: 65%;
    background-color: black;
    position: absolute;
    top: 12%;
    left: 35%;
    margin: auto;
    transition: width 2s, height 4s;
}

@media (max-width : 1000px) {
    .shop {
        width: 70% !important;
        left: 15% !important;
    }
}

.close-shop-button {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: red;
    cursor: pointer;
    background-color: #000;

    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
}

@media (max-width : 600px) {
    .close-shop-button {
        font-size: 30px;
        margin-top: 25px;
        padding: 1px 2px 1px 2px;
    }
}

.close-shop-button:active {
    color: white;
    background-color: red;
    border-color: red !important;
}

.close-shop-button:hover {
    transform: scale(1.03);
}

.info-box {
    position: relative;
    top: 0%;
    display: block;
    width: 40%;
    height: 10px;
}

@media (max-width : 1000px) {
    .info-box {
        width: 90% !important;
        top: 5% !important;
    }
}

@media (max-width : 600px) {
    .info-box {
        width: 90% !important;
        top: -2% !important;
    }
}

.action-bar {
    position: relative;
    top: 80%;
    display: block;
    width: 40%;
    height: 10px;
}

@media (max-width : 1000px) {
    .action-bar {
        width: 90%;
    }
}

@media (max-width : 600px) {
    .action-bar {
        top: 70%;
    }
}

.text-area {
    position: relative;
    top: 62%;
    height: 200px;
    width: 120%;
    z-index: 999;
}

@media (max-width : 1000px) {
    .text-area {
        top: 53%;
        width: 105%;
    }
}


.settings-menu {
    background-color: var(--color-primary);
}