.ui-layer {
    width: 100%;
    height: 100vh;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory {
    width: 15%;
    height: 70%;
    left: 82%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;

}

.actor-menu {
    width: 15%;
    height: 70%;
    left: 4%;
    background-color: black;
    position: relative;
    top: 100px;
    transition: width 2s, height 4s;

}

.equip-slot {
    background-color: black;
    margin: 4px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.item-use-container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shop {
    z-index: 100;
    width: 30%;
    height: 65%;
    background-color: black;
    position: absolute;
    top: 12%;
    left: 35%;
    margin: auto;
    transition: width 2s, height 4s;
}

.close-shop-button {
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: red;
    cursor: pointer;
    background-color: #000;
    
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
}

.close-shop-button:active {
    color: white;
    background-color: red;
    border-color: red !important;
}

.close-shop-button:hover {
    transform: scale(1.03);
}

.follow-cursor-img {
    z-index: 9999;
    position: absolute;
    transition: transform 0.1s linear;
}

.info-box {
    position: relative;
    top: 2%;
    display: block;
    width: 40%;
    height: 10px;
}

.action-bar {
    position: relative;
    top: 80%;
    display: block;
    width: 40%;
    height: 10px;
}

.text-area {
    position: relative;
    top: 62%;
    display: block;
    border-radius: 150px;
    max-width: 57%;
}

.settings-menu {
    background-color: var(--color-primary);
}