<div class="spacing">

    <div class="map" *ngIf="run.state == 'exploration'">
        <div class="location" *ngFor="let location of run.stage.locations">
            <app-location-preview [locationData]="location" (exploreSignal)="explore(location)"></app-location-preview>
        </div>
    </div>
    <div class="map" *ngIf="run.state == 'location'">
        <app-location [locationData]="run.currentLocation" (interactSignal)="interact($event)"></app-location>
    </div>
    <!-- <img src="{{run.stage.backgroundPath}}"> -->
    
</div>