<div class="view pixelated-border" [ngStyle]="{ 'background-image': 'url(' + getBackgroundImage() + ')' }">
    <div class="map" *ngIf="run.state == 'exploration' && ready">
        <div class="location" *ngFor="let location of run.stage.locations">
            <app-location-preview [refreshLocationsAnimation]="refreshLocationsAnimation" [locationData]="location" (exploreSignal)="moveTo(location)"></app-location-preview>
        </div>
    </div>
    <div class="location-map" *ngIf="run.state == 'location'">
        <app-location [locationData]="run.currentLocation" [selectedItem]="selectedItem"
            (interactSignal)="interact($event)" (backSignal)="returnToMap($event)" (talkSignal)="talkToActor($event)"
            (openShopSignal)="toggleShop($event)" (fightSignal)="engageFightWith($event)" (restSignal)="rest()"></app-location>
    </div>
    <div class="fight" *ngIf="run.state == 'fight'">
        <app-fight [fightData]="run.currentFight" [partyData]="run.party" (attackSignal)="attack($event)"
            (fleeSignal)="flee()"></app-fight>
    </div>
    <!-- shop -->
    <div [@inOutAnimation] *ngIf="shopOpened" class="shop pixelated-border"
        style="overflow-y: auto; overflow-x: hidden;">
        <div class="space" style="position: -webkit-sticky; position: sticky; top: 0;height:40px; color: red; cursor: pointer; background-color: #000; z-index: 8;" (click)="toggleShop()">CLOSE</div>
        <div style="padding: 15px;">
            <div *ngFor="let item of shopItems">
                <div class="space" style="color: white;" (click)="buy(item)">
                    <div style="height: 100px; width: 100px; background-size: contain;" class="shop-item"
                        [ngStyle]="{ 'background-image': 'url(' + item.thumbnailPath + ')' }">
                    </div>
                    <div>
                        {{ item.name }}
                    </div>
                    <div>
                        {{ item.moneyValue }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>