@font-face {
    font-family: "Enchanted-Land";
    src: local("Enchanted-Land"), url(./assets/fonts/Enchanted-Land.otf) format("truetype");
}


.background {
    background-image: url("app/resources/images/background.jpeg");
    background-color: #cccccc;
   }