<div class="container-space">
    <div *ngIf="locationData" style="height: 100%;">
        <div class="actor-row">
            <div class="actor" *ngFor="let actor of locationData.actors">
                <mat-card *ngIf="actor" ngTilt [disableAxis]="'y'" [maxTilt]="8" [glare]="true"
                    [maxGlare]="0.1" [scale]="1.1" [speed]="300"
                    class="mat-elevation-z1 pixelated-border space image-bg" (click)="setSelectedActor(actor)">
                    <div class="actor-card card card__shine">
                        <div ngTiltParallax [distance]="20" style="padding-top: 20px; text-align: center;">
                            {{actor.name}}</div>
                        <img style="height: 500; width: 500;" ngTiltParallax [distance]="20" [src]="actor.imagePath" />
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-card *ngIf="locked()" class="mat-elevation-z1 back-button space pixelated-border" (click)="goBackToScene()"
        style="height: 60px; width: 30%;" ngTilt [disableAxis]="'y'" [maxTilt]="1" [glare]="true" [maxGlare]="0.1" [scale]="1.01"
        [speed]="300">
        <div ngTiltParallax [distance]="10" style="padding-top: 20px; text-align: center;">Back to Stage</div>
    </mat-card>
</div>

<div #menuTrigger [matMenuTriggerFor]="selectedActor ? menu : ''" style="display: none;"></div>
<mat-menu #menu="matMenu" class="location-menu pixelated-border" (closed)="clearSelectedActor()">
    <div *ngIf="!selectedItem && selectedActor">
        <!-- talk action -->
        <button mat-menu-item *ngIf="hasDialogue(selectedActor!)" (click)="talk(selectedActor!)"> talk </button>
        <!-- fight action (if is fightable -> has stats)-->
        <button mat-menu-item *ngIf="isFightable(selectedActor!)" (click)="engageCombat(selectedActor!)"> fight
        </button>
        <!-- shop action (if npc has items in shop property) -->
        <button mat-menu-item *ngIf="hasShop(selectedActor!)" (click)="toggleShop(selectedActor!)"> shop </button>
        <!-- shop action (if npc has items in shop property) -->
        <button mat-menu-item *ngIf="canMakeYouRest(selectedActor!)" (click)="rest()"> rest </button>
        <!-- steal action (if someone in party is rogue or has steal spell and the npc has items to loot or to shop. Steal attempt could cause element stole or fight) -->
        <!-- spells action (if someone in party has spells)-->
    </div>
    <div *ngIf="selectedItem">
        <!-- use action -->
        <button mat-menu-item (click)="useItemOn(selectedItem, selectedActor!)"> use </button>
    </div>
</mat-menu>