<div class="container-space">
    <div *ngIf="locationData" style="height: 100%;">
        <div style="display: flex !important; height: 100% !important; justify-content: space-evenly !important;" class="actor-row">
            <div class="actor" *ngFor="let actor of locationData.actors" style="width: 33%">
                <mat-card *ngIf="actor" 
                    ngTilt [disableAxis]="'y'" [maxTilt]="8" [glare]="true" [maxGlare]="0.1" [scale]="1.1" [speed]="300"
                    class="mat-elevation-z1 pixelated-border space image-bg" (click)="setSelectedActor(actor)">
                    <div ngTiltParallax [distance]="20" style="text-shadow: 2px 2px 2px #000000; padding-top: 20px; text-align: center;">{{actor.name}}</div>
                    <img style="width: 150%; margin-left: -35px;" ngTiltParallax [distance]="20" [src]="actor.imagePath" />
                </mat-card>
            </div>
        </div>
    </div>
    <mat-card class="mat-elevation-z1 back-button space pixelated-border" (click)="goBackToScene()" style="height: 60px"
        ngTilt [disableAxis]="'y'" [maxTilt]="1" [glare]="true" [maxGlare]="0.1" [scale]="1.01" [speed]="300">
        <div ngTiltParallax [distance]="10" style="text-shadow: 2px 2px 2px #000000; padding-top: 20px; text-align: center;">Back to Stage</div>
    </mat-card>
</div>

<div #menuTrigger [matMenuTriggerFor]="menu" style="display: none;"></div>
<mat-menu #menu="matMenu" class="location-menu pixelated-border">
    <div *ngIf="!selectedItem && selectedActor">
        <!-- talk action -->
        <button mat-menu-item *ngIf="hasDialogue(selectedActor!)" (click)="talk(selectedActor!)"> talk </button>
        <!-- fight action (if is fightable -> has stats)-->
        <button mat-menu-item *ngIf="isFightable(selectedActor!)" (click)="engageCombat(selectedActor!)"> fight </button>
        <!-- shop action (if npc has items in shop property) -->
        <button mat-menu-item *ngIf="hasShop(selectedActor!)" (click)="toggleShop(selectedActor!)"> shop </button>
        <!-- shop action (if npc has items in shop property) -->
        <button mat-menu-item *ngIf="canMakeYouRest(selectedActor!)" (click)="rest()"> rest </button>
        <!-- steal action (if someone in party is rogue or has steal spell and the npc has items to loot or to shop. Steal attempt could cause element stole or fight) -->
        <!-- spells action (if someone in party has spells)-->
    </div>
    <div *ngIf="selectedItem">
        <!-- use action -->
        <button mat-menu-item (click)="useItemOn(selectedActor!)"> use </button>
    </div>
</mat-menu>