.container-space {
    height: 80%;
}

.space {
    height: 80%;
    transition: transform .2s;
}

.space:hover {
    transform: scale(1.02);
    filter: none;
    -webkit-filter: none;
}

.actor {
    height: 107%;
    width: 22%;
}

// force landscape mode on mobile devices
@media (max-width : 1000px) {
    .actor {
        height: 50vh;
        width: 42%;
    }
}

.actor-row {
    display: flex !important;
    height: 100% !important;
    justify-content: space-evenly !important;
}

.actor-card {
    display: flex !important;
    flex-direction: column;
    height: 100% !important;
    justify-content: space-evenly !important;
}

.back-button {
    margin-top: 3%;
    height: 30px;
    text-align: center;
    background-color: #F4E0B9;
    color: black;
    animation: 0.5s ease-out 0s 1 fadeIn forwards;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.image-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}